<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find alicia_d_descriptions)/urdf/alicia_duo_with_gripper.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find alicia_d_descriptions)/config/urdf.rviz" />
</launch>