<launch>
   <!-- <arg name="port" default="/dev/ttyCH341USB0" /> -->
   <arg name="port" default="/dev/ttyUSB0" />
   <arg name="baudrate" default="1000000" />
   <arg name="debug_mode" default="false" />
   <node name="alicia_d_driver_node" pkg="alicia_d_driver" type="alicia_d_driver_node" output="screen">
   
     <!-- Serial Port Configuration -->
     <param name="port"           type="string" value="$(arg port)"/>
     <param name="baud_rate"      type="int"    value="$(arg baudrate)"/>
     
     <!-- Driver Behavior Configuration -->
     <param name="debug_mode"     type="bool"   value="$(arg debug_mode)"/>
     <param name="rate_limit_sec" type="double" value="0.01"/>
      <!-- Command streaming and smoothing -->
      <param name="command_rate_hz"           type="double" value="300.0"/>
      <param name="use_trajectory_smoothing"  type="bool"   value="true"/>
      <param name="max_joint_velocity_rad_s"  type="double" value="3.0"/>
      <param name="max_joint_accel_rad_s2"    type="double" value="12.0"/>
      <param name="max_gripper_velocity_rad_s" type="double" value="2.0"/>
      <param name="max_gripper_accel_rad_s2"   type="double" value="15.0"/>
      <param name="gripper_input_is_percent"  type="bool"   value="false"/>
      <param name="gripper_stroke_m"          type="double" value="0.05"/>
   </node>
</launch>
